@charset "UTF-8";

@font-face {
    font-family: Poppins;
    src: url(../fontes/Poppins-Regular.ttf) format(truetype);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 768px;
}

body{
    background-image: url(../imagem/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    display: flex;
    align-items: center; /*aqui nao acontece nada*/
    justify-content: center; /*aqui ele ja vai para o meio*/

}

.formulario{
    background-color: transparent;
    backdrop-filter: blur(20px); /*EFEITO ESPELHO BLUR*/
    margin: auto;
    max-width: 50%;
    min-width: 270px;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.288);
    
}

h1{
    text-align: center;
    color: white;
    font-weight: normal;
    
}

.formulario .input-box{
    
    height: 40px;
    padding: 10px 50px;
   
    
    

}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border: 1px solid white;
    padding: 0 0 0 10px;
    justify-content: center;
    align-items: center;
    
    
}

input::placeholder{
    color: white;
}

.btn{
    text-align: center;   

}

button{
    width: 20%;
}